.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

.networkDisplay{
  zIndex: 2;
  position: fixed;
  right: 60px;
  top: 60px;
  padding: 16px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.weth-bid-icon{
  width: 1em;
  height: 1.2em;
  vertical-align: sub;
}
